		body {
			height: 100%;
			width: 100%;
			margin: 0 auto;
			padding: 0;
			background: linear-gradient(to right, #F6EFD2, #CEAD78);
		}

		.header {
			text-align: center;
			margin-top: 30px;
			font-family: comic sans MS;
			color: white;
			text-shadow: 1px 1px 2px grey;
		}
		.chat {
			margin: 0px auto;
			margin-top: 80px;
			height: 450px;
			max-width: 650px;
			background-color: white;
			overflow: auto;
		}
		.chat ul {
			list-style: none;
			text-decoration: none;
			font-family: helvetica;
			font-size: 16px;
			padding: 0;
			margin: 10px;
		}
		.chat ul li {
			padding: 4px;
		}
		.chat ul li:nth-child(odd) {
			background-color: #F6EFD2;
		}
		#input {
			min-width: 625px;
			font-family: helvetica;
			outline: none;
			font-size: 18px;
			border: 0px dashed white;
			padding: 14px;
			position: fixed;
			bottom: 0;
			box-shadow: 1px 1px 2px grey;
		}
		#msgBox {
			height: 50px;
			width: 625px;
			background-color: coral;
			color: white;
			font-family: helvetica;
			margin: 0px auto;
			left: 50%;
			text-align: center;
			margin-left: -23%;
			position: absolute;
			top: -100px;
			font-weight: bold;
		}
		#countBox {
			font-weight: bold;
			height: 50px;
			width: 625px;
			background-color: coral;
			color: white;
			font-family: helvetica;
			margin: 0px auto;
			left: 50%;
			text-align: center;
			margin-left: -23%;
			position: absolute;
			top: -100px;
		}